Django==5.2.7
httptools==0.7.1
openpyxl==3.1.5
pandas==2.3.3
pillow==12.0.0
psycopg[binary]==3.2.11
python-dotenv==1.1.1
PyYAML==6.0.3
websockets==15.0.1
gunicorn==21.2.0
whitenoise==6.6.0
python-decouple==3.8
django-cors-headers==4.3.1
markdown==3.7
bleach==6.1.0
webencodings==0.5.1